<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <title>Kanban Board</title>
</head>

<body>
<div id="app">
    <div class="addForm">
        <form @submit.prevent="addEntry">
            <h2>Create New Entry</h2>
            <label for="title">Title:</label>
            <input id="title" type="text" v-model="newEntry.title">
            <label for="description">Description:</label>
            <textarea id="description" v-model="newEntry.description"></textarea>
            <label for="deadline">Deadline:</label>
            <input id="deadline" type="date" v-model="newEntry.deadline">
            <button type="submit">Add Entry</button>
        </form>
    </div>
    <div class="stage" v-for="(stage, stageIndex) in stages" :key="stageIndex">
        <h2>{{ stage.name }}</h2>
        <div v-for="(entry, entryIndex) in stage.entries" :key="entryIndex">
            <div v-if="editedEntryIndex !== entryIndex || editedStageIndex !== stageIndex">
                <h3>{{ entry.title }}</h3>
                <p>{{ entry.description }}</p>
                <p>Created At: {{ entry.createdAt }}</p>
                <p>Deadline: {{ entry.deadline }}</p>
                <p>Last Modified: {{ entry.lastModified }}</p>
                <p class="reasonReturn" v-if="returnHistory[entry.id]">
                    Return History:
                <ul>
                    <li class="reasonReturn" v-for="reason in returnHistory[entry.id]">{{ reason }}</li>
                </ul>
                </p>
                <button class="edit-button" @click="editEntry(entryIndex, stageIndex)">Edit</button>
                <button class="delete-button" @click="removeEntry(entryIndex, stageIndex)">Delete</button>
                <button class="move-button" @click="moveEntry(entryIndex, stageIndex, stageIndex + 1)">Move</button>
                <button class="move-button" v-if="stageIndex === 2" @click="moveEntry(entryIndex, stageIndex, stageIndex - 1)">Return</button>
                <label v-if="stageIndex === 2" for="reason">Return Reason:</label>
                <input class="return-reason-input" v-if="stageIndex === 2" id="reason" type="text" v-model="entry.reason">
            </div>
            <div v-else>
                <form @submit.prevent="editForm(entryIndex)">
                    <label for="editTitle">Title:</label>
                    <input id="editTitle" type="text" v-model="editedEntry.title">
                    <label for="editDescription">Description:</label>
                    <textarea id="editDescription" v-model="editedEntry.description"></textarea>
                    <label for="editDeadline">Deadline:</label>
                    <input id="editDeadline" type="date" v-model="editedEntry.deadline">
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>